section {
  font-family: 'Droid Sans', sans-serif;
}

li {
  display: inline;
  list-style-type: none;
  padding: 15px;
}

.img {

	clip: rect(0px,60px,200px,0px);
	max-width: 100%;
	min-height: 50%;
	border-radius: 8px; 

	padding-bottom: 5%;
}
